@media(max-width:1920px){
    #home{
        min-height: 50vh;
    }
    .titulo{
        font-size: 90px;
        margin: 0;
    }
    h2{
        font-size: 56px;
    }
    h3{
        font-size: 24px;
    }
}

@media(max-width:1280px){
    body{
        padding: 0 10px;
    }
    #home {
        min-height: 75vh;
    }
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 35px;
    }
    h3{
        font-size: 20px;
    }
    li, p, .project-item p {
        font-size: 14px;
    }
    .service-number{
        font-size: 32px;
    }
    .service-name{
        font-size: 28px;
    }
    .contact-form button{
        font-size: 0.8em;
    }
    .footer-nav a{
        font-size: 17px;
    }
    .footer-social a{
        height: 20px;
        width: 20px;
    }
    .redes{
        font-size: 20px;
    }
    .question{
        font-size: 20px;
    }
    .btn{
        font-size: 12px;
        font-weight: 450;
    }
    .btn-contacto{
        width: 120px;
    }
    .btn-proyectos{
        width: 140px;
    }
    .footer-text p{
        font-size: 16px;
    }
}

@media(max-width:1024px){
    li{
        font-size: 10px;
    }
    .intro-imagen img{
        height: 350px;
        width: 350px;
    }
    .about-stack img{
        height: 130px;
        width: 280px;
        border-radius: 10px;
    }
    .img-lugar{
        height: 130px;
        width: 550px;
        border-radius: 10px;
    }
    .project-item img{
        width: 100%;
        height: 180px;
        display: block;
        border-radius: 10px;
        margin-bottom: 10px;
    }
}

@media(max-width:768px){
    #menu{
        flex-direction: column;
        align-items: flex-end;
    }
    .nav-links a{
        display: none;
    }
    .circulo-contact{
        display: none;
    }
    .logo{
        justify-content: start;
    }
    .titulo{
        font-size: 60px;
    }
    .mi-clase{
        display: block;
    }
    .inicio{
        flex-direction: column;
        padding: 30px 0;
    }
    li, p, .project-item p {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: -0.5px;
    }
    .intro-imagen{
        margin-top: 20px;
    }
    .intro-imagen img{
        height: 400px;
        width: 400px;
    }
    .about-stack img{
        height: 110px;
        width: 200px;
        border-radius: 10px;
    }
    .btn{
        font-size: 14px;
        font-weight: 700;
    }
    .btn-contacto{
        width: 130px;
    }
    .btn-proyectos{
        width: 160px;
    }

    .skills-container{
        flex-direction:column;
    }

    ul {
        margin-bottom: 20px;
    }
    
    .img-lugar{
        height: 110px;
        width: 380px;
        border-radius: 10px;
    }

    .proyects-container{
        flex-direction: column;
    }

    .project-item img{
        height: 275px;
    }

    .project-item a{
        font-size: 20px;
    }
    
    .txt-intro{
        font-size: 18px;
    }

    .item-tipo-a{
        width: 100%;
        height: 100%;
    }

    .item-tipo-b{
        width: 100%;
        height: 100%;
    }
    .footer-content{
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 0 0 10px;
        width: 100%;
    }
    .footer-nav a{
        font-size: 18px;
    }
    .redes{
        font-size: 24px;
    }
    .question{
        font-size: 22px;
    }
    .btn{
        font-size: 14px;
        font-weight: 600;
    }
    .btn-proyectos{
        width: 160px;
    }
    .footer-text p{
        font-size: 13px;
    }

    .footer-info{
        align-items: center;
    }

    .footer-content .buttons{
        justify-content: center;
    }
}

@media(max-width:480px){
    *{
        margin: 0;
        padding: 0;
    }
    .seccion{
        margin-left: 10px;
        margin-right: 10px;
    }
    h1{
        font-size: 40px;
    }
    h2, .saludo{
        font-size: 26px;
    }
    h3, .txt-intro{
        font-size: 16px;
    }
    .intro-imagen img{
        height: 300px;
        width: 300px;
        margin-top: 30px;
    }
    li, p, .project-item p, .contact-form label{
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.5px;
    }
    .about-content{
        flex-direction: column;
    }
    .about-stack img{
        height: 180px;
        width: 100%;
        border-radius: 20px;
        margin-bottom: 50px;
    }
    .img-lugar{
        height: 180px;
        width: 100%;
        border-radius: 20px;
        margin-bottom: 50px;
    }
    .project-item img{
        height: 200px;
    }
    .project-item a, .project-item i{
        font-size: 16px;
    }
    .service-number{
        font-size: 28px;
    }
    .service-name {
        font-size: 18px;
    }

    .service-progress{
        width: 10px;
    }

    .service-line {
        height: 18vh;
    }
    .service-info {
        width: 100%;
    }

    .contact-form{
        margin-bottom: 16px;
        font-size: 12px;
    }
    .contact-form label {
        font-size: 14px;
    }
    .contact-form .short-input {
        width: 260px;
    }
    .contact-form input, .contact-form textarea {
        width: 100%;
        padding: 0.2em;
    }

    .footer-nav a{
        font-size: 12px;
    }
    .redes, .question{
        font-size: 16px;
    }
}

@media(max-width:320px){
    body{
        margin: 0;
    }
    h2, .saludo {
        font-size: 24px;
        letter-spacing: -2px;
        font-weight: 400;
    }
    .titulo{
        font-size: 58px;
    }
    h3, .txt-intro {
        font-size: 18px;
    }
    .buttons{
        gap: 10px;
    }
    .intro-imagen img{
        height: 250px;
        width: 250px;
        margin-top: 70px;
    }
    .about-stack img{
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
    .img-lugar{
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
    .project-item img{
        height: 100px;
    }

    .footer-nav-content{
        gap: 8px;
    }
    .redes{
        font-size: 24px;
    }
    .footer-contact {
        align-items: center;
    }
}