/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Definición de colores */
:root {
    --color-primario: #6e06f2;
    --color-secundario: #1e1d1d;
    --text-color: #777e90;
    --background-color: #ffffff;
    --color-seleccion: #8c4ddf;
}
/* Seteo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", "Poppins Placeholder", sans-serif;
    font-size: 12px;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--background-color);
    top: 0;
    position: sticky;
    z-index: 1000;
}

/* Sección barra de navegación */

.logo {
    font-size: 24px;
    font-weight: 800;
    text-decoration: none;
    flex: 0.16;
    text-align: left;
    color: var(--color-secundario);
}

.logo:hover {
    cursor: pointer;
}

#menu {
    display: flex;
    align-items: center;
    flex: 2;
}

.nav-links {
    display: flex;
    justify-content: center;
    flex: 1;
    font-size: 18px;
    font-weight: 600;
}

.nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: var(--text-color);
}

.nav-links a:hover{
    color: var(--color-primario);
}


.ico-contacto {
    height: 20px;
    width: 20px;
}

.circulo{
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 10px;
    background-color: var(--color-secundario);
    border-radius: 50px;
}

.circulo:hover{
    background-color: #777e90;
    mouse: pointer
}

.destacado{
    color: var(--color-primario);
}

/* Sección de Inicio */

.seccion {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.saludo {
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
}

p {
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.btn {
    padding: 7px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.5s;
}

.btn-contacto {
    background-color: var(--color-secundario);
    color: var(--background-color);
}

.btn-contacto:hover {
    background-color: var(--color-primario);
}

.btn-proyectos {
    background-color: var(--background-color);
    color: var(--color-secundario);
    border: 2px solid var(--color-secundario);
}

.btn-proyectos:hover {
    background-color: var(--color-secundario);
    color: var(--background-color);
    border: 2px solid var(--background-color);
}

.intro-imagen {
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-imagen img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    padding: 10%;
    border: 1px solid var(--color-primario);
}

h1 {
    font-size: 90px;
    color: var(--color-secundario);
    line-height: 1;
}

.txt-intro {
    display: flex;
    padding-top: 30px;
    font-size: 24px;
    line-height: 1.2;
}

.seccion{
    display: block;
    margin-top: 80px;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    color: var(--color-secundario);
    margin-bottom: 20px;
}

.about-content{
    display: flex;
    justify-content: space-around;
    padding: 0 30px;
}

.img-lugar {
    border-radius: 30px;
}

.txt-about {
    border-left: solid 5px var(--color-primario);
    padding-left: 10px;
}


.contact-form label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}

.contact-form input,
.contact-form textarea {
    width: calc(100% - 1em);
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-form .short-input {
    width: 400px;
    min-width: 250px;
}

.contact-form button {
    background-color: var(--color-primario);
    color: var(--background-color);
    border: none;
    padding: 0.75em 1.5em;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: var(--color-seleccion);
}


.skills-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skills-column {
    flex: 1;
    min-width: 250px;
    margin: 10px;
}

.skills-colum h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.skills-colum ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills-colum li {
    font-size: 1.2em;
    margin: 5px 0;
}

h3 {
    font-size: 20px;
    color: var(--color-secundario);
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-item {
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: left;
    position: relative;
}

.project-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.project-item a {
    font-size: 24px;
    margin: 20px 0 10px;
    display: flex;
    align-items: center;
    color: #000;
}


.project-item p {
    font-size: 16px;
    color: #555;
}

.fa-circle-arrow-up {
    color: var(--background-color);
    background-color: var(--color-primario);
    rotate: 45deg;
    margin: 5px;
}

.icon {
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
}

.icon:hover .fa-circle-arrow-up{
    color: var(--text-color);
}


.service {
    display: flex;
    margin-bottom: 40px;
    position: relative;
}

.service-number{
    font-size: 20px;
    color: var(--text-color);
}

.service-line {
    width: 4px;
    background-color: var(--color-primario);
    position: relative;
    top: 0;
    bottom: 0;
    left: 0px;
    z-index: -1;
    margin-right: 10px;
}

.service-content {
    display: flex;
    align-items: flex-start;
    padding-left: 60px;
    position: relative;
}

.service-number {
    font-size: 2em;
    font-weight: bold;
    margin-right: 20px;
}

.service-info {
    max-width: 600px;
}

.service-name {
    font-size: 25px;
    font-weight: bold;
    color: var(--color-primario);
}

